.app {
    font-family: 'Arial', sans-serif; 
    color: #333; 
    background-color: #FFFFFF; 
    width: 100%; 
    min-height: 100vh; 
    margin: 0; 
    padding: 0; 
}

/* Introdução do Helper */
.helper-intro {
    display: flex; /* Utiliza Flexbox para alinhar os elementos filhos lado a lado */
    align-items: center; /* Centraliza os elementos filhos verticalmente */
    align-self: center;
    justify-content: center; /* Centraliza os elementos filhos horizontalmente */
    gap: 2rem; /* Espaço entre os elementos filhos */
    padding: 1rem;
    padding-bottom: 0;
    border-radius: 10px;
    margin: 1rem 0;
    margin-left: 2rem;
    margin-bottom: 0;
}

.helper-icon{
    display: flex; /* Utiliza Flexbox para alinhar os elementos filhos lado a lado */
    gap: 3rem; /* Espaço entre os elementos filhos */
    align-items: center; /* Centraliza os elementos filhos verticalmente */
}

.helper-intro p {
    align-self: center;
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 8rem;
    background-color: #D9D9D9;
    border-radius: 2rem;
    padding: 1.5rem;
}

/* Opções */
.options {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; /* Permite que os itens se enfileirem se não houver espaço */
    gap: 50px; /* Espaçamento entre as opções */
    margin-top: 20px;
    }

.option {
    text-align: center;
    padding: 2rem;
    padding-bottom: 0;
    width: 10rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 10px;
}

.option img {
    height: 5rem;
}

.option p {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #003B70
}

